<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" routerLink="/">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="/profile">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/hotels">View Hotels</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/bookings">View Bookings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/users">View Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/bookings/add">Make a Booking</a>
                    </li>
                </ul>
                <a routerLink="/" class="btn btn-dark">Logout</a>
            </div>
        </div>
    </nav>
    <h3>Create Booking Form</h3>

    <form (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="booking-hotelId" class="form-label">Hotel ID</label>
            <input type="text" [formControl]="hotel_id" class="form-control" id="booking-hotelId" placeholder="Enter a hotel ID">
        </div>
        <div class="mb-3">
            <label for="booking-checkinDate" class="form-label">Check-In Date</label>
            <input type="date" [formControl]="booking_start" class="form-control" id="booking-checkinDate">
        </div>
        <div class="mb-3">
            <label for="booking-checkoutDate" class="form-label">Check-Out Date</label>
            <input type="date" [formControl]="booking_end" class="form-control" id="booking-checkoutDate">
        </div>
        <div class="mb-3">
            <label for="booking-userId" class="form-label">Hotel ID</label>
            <input type="text" [formControl]="user_id" class="form-control" id="booking-userId" placeholder="Enter your User ID">
        </div>
        <button type="submit" class="mb-1 form-control btn btn-danger">Update</button>
        <a routerLink="/dashboard" class="form-control btn btn-dark">Cancel</a>
    </form>

    <p>{{message}}</p>



    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
        integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
        integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
        crossorigin="anonymous"></script>
</body>