.page-container {
    margin:auto;
    padding: 1% 8% 10% 8%;
}

.search-container{
    padding-top: 2%;
}
.search-bar {
    display: flex;
    flex-direction: row;
    width: 30%;
}

.table-container {
    margin-top: 1%;
    
}

.profile-link {
    margin-right: 1%;
    text-decoration: none;
    color: black;
}